{% extends 'base.html' %}
{% load static %}
{% block title %}
Course
{% endblock title %}
{% block content %}
<style>
    .nav-add-action {
        display: flex;
        justify-content: space-between;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
    }

    .step-links {
        display: flex;
    }
</style>

<div class="pagetitle">

    <nav class="nav-add-action">
        <div>
            <h1>Add Course</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Add Course</li>
            </ol>
        </div>
        <div>
            <a class="btn button-background" href="{% url 'notes:create-course' %}">Add Course</a>
        </div>

    </nav>
    <div>
        {% include 'partials/_messages.html' %}
    </div>
    <!-- Table output to be displayed from django -->
    <div id="app-table">

        {% if courses %}
        <table class="table table-stripped table-hover">

            <thead>
                <th>S/N</th>
                <th>Course Name</th>
                <th>Created</th>
                <th>Action</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for course in courses  %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{course.name|capfirst }}</td>
                    <td>{{course.created|date:"D d M Y" }}</td>
                    <td>
                        <a href="{% url 'notes:update-course' course.slug %}"
                            class="btn btn-sm btn-outline-success">Edit</a>
                    </td>
                    <td>
                        <form action="{% url 'notes:delete-course' course.slug %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-outline-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info" role="alert">
            You have no course available. Please create one
        </div>
        {% endif %}
    </div>
    <!--Div that shows when ajax result is not found-->
    <div id="search-not-found">

    </div>
    <!--Table output to be displayed when search is found using ajax -->
    <div class="d-none mt-3" id="table-ouput">
        <div id="random-search"></div>
        <table class="table table-stripped table-hover">

            <thead>
                <th>Description</th>
                <th>Amount (Currency)</th>
                <th>Date</th>

            </thead>
            <tbody id="table-body">


            </tbody>
        </table>
    </div>


    {% if income_sources %}
    <div class="pagination mt-4" id="pagination">
        <div>
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
        </div>
        <div>
            <span class="step-links">
                {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link active">1</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                </li>
                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}"
                        class="page-link">{{ page_obj.paginator.num_pages }}</a>
                </li>
                {% endif %}
            </span>
        </div>
    </div>
    {% endif %}



</div>

</div><!-- End Page Title -->





{% endblock content %}