{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile
{% endblock title %}
{% block content %}


    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">User</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{profile.profile_pic_url}}" alt="Profile" class="rounded-circle">
              <h2>{{request.user.first_name|capfirst}} {{request.user.last_name|capfirst}}</h2>
              <h3>{{profile.job|capfirst}}</h3>
              <div class="social-links mt-2">
                <a href="{{profile.twitter}}" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="{{profile.facebook}}" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="{{profile.instagram}}" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="{{profile.linkedin}}" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                
              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">{{profile.about}}</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{request.user.first_name|capfirst}} {{request.user.last_name|capfirst}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company</div>
                    <div class="col-lg-9 col-md-8">{{profile.company|capfirst}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Job</div>
                    <div class="col-lg-9 col-md-8">{{profile.job|capfirst}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Country</div>
                    <div class="col-lg-9 col-md-8">{{profile.country|capfirst}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">{{profile.address|capfirst}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{request.user.email}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Twitter</div>
                    <div class="col-lg-9 col-md-8">{{profile.twitter}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Facebook</div>
                    <div class="col-lg-9 col-md-8">{{profile.facebook}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Instagram</div>
                    <div class="col-lg-9 col-md-8">{{profile.instagram}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">LinkedIn</div>
                    <div class="col-lg-9 col-md-8">{{profile.linkedin}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form class="form-group" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="text-center" >
                      <img src="{{profile.profile_pic_url}}" alt="Profile" class="rounded-circle">
                    </div>
                    
                    {{form.as_p}}

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  


{% endblock content %}