{% extends 'base.html' %}
{% load static %}
{% block title %}
 Edit Note
{% endblock title %}
{% block content %}

<style>
    .errorlist{
        margin-bottom:4px;
        padding: 0px;
        list-style-type:none;
        font-weight: 500;
        color: red;
      }
    .nav-add-action {
        display: flex;
        justify-content: space-between;
    }
</style>

    <div class="pagetitle">
        <nav class="nav-add-action">
           <div >
            <h1>Update Note</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Update Note </li>
            </ol>
        </div>
        <div class="add-action-div">
            <form action="{% url 'notes:delete-note' note.slug %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit" >Delete</button>
            </form>
        </div>
        </nav>
    </div><!-- End Page Title -->
    {% include 'partials/_messages.html' %}
    <form action="{% url 'notes:update-note' note.slug %}" class="form-group" method="POST" >
        {% csrf_token %}
        {{form.as_p}}
        {{form.media}}
       <div class="mt-3 text-center">
        <button type="submit" class="btn button-background">UYpdate Note</button>
       </div>
    </form>
    


{% endblock content %}


