{% extends 'base.html' %}
{% load static %}
{% block title %}
Update Income Source
{% endblock title %}
{% block content %}
<style>
    .nav-add-action {
        display: flex;
        justify-content: space-between;
    }
    .errorlist{
        margin-bottom:4px;
        padding: 0px;
        list-style-type:none;
        font-weight: 500;
        color: red;
      }
</style>

<div class="pagetitle">

    <nav class="nav-add-action">
        <div >
            <h1>Update Expense Category</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Update Income Source </li>
            </ol>
        </div>
    </nav>
</div><!-- End Page Title -->
{% include 'partials/_messages.html' %}
<form class="form-group" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div class="mt-3 text-center">
        <button type="submit" class="btn button-background">Update Income Source</button>
    </div>
</form>




{% endblock content %}